extends includes/_header
block content
    section.content
        .content__header
            .container
                h1.content__head Галерея
        .galery
            .container
                .galery__wrapper
                    .galery__block
                        .galery__comparing
                            .galery__img-first
                                img.galery__img(src='img/general-new.jpg' alt='Новий будинок')
                            .galery__img-second
                                img.galery__img(src='img/general-old.jpg' alt='Старий будинок')
                        .galery__info
                            span.galery__text Гнеральский будинок
                            a.galery__more(href='general.html') Читати...
                    .galery__block
                        .galery__comparing
                            .galery__img-first
                                img.galery__img(src='img/general-new.jpg' alt='Новий будинок')
                            .galery__img-second
                                img.galery__img(src='img/general-old.jpg' alt='Старий будинок')
                        .galery__info
                            span.galery__text Гнеральский будинок
                            a.galery__more(href='general.html') Читати...
                    .galery__block
                        .galery__comparing
                            .galery__img-first
                                img.galery__img(src='img/general-new.jpg' alt='Новий будинок')
                            .galery__img-second
                                img.galery__img(src='img/general-old.jpg' alt='Старий будинок')
                        .galery__info
                            span.galery__text Гнеральский будинок
                            a.galery__more(href='general.html') Читати...
                    .galery__block
                        .galery__comparing
                            .galery__img-first
                                img.galery__img(src='img/general-new.jpg' alt='Новий будинок')
                            .galery__img-second
                                img.galery__img(src='img/general-old.jpg' alt='Старий будинок')
                        .galery__info
                            span.galery__text Гнеральский будинок
                            a.galery__more(href='general.html') Читати...
                    .galery__block
                        .galery__comparing
                            .galery__img-first
                                img.galery__img(src='img/general-new.jpg' alt='Новий будинок')
                            .galery__img-second
                                img.galery__img(src='img/general-old.jpg' alt='Старий будинок')
                        .galery__info
                            span.galery__text Гнеральский будинок
                            a.galery__more(href='general.html') Читати...
    include includes/_footer