include includes/_header
block content
    section.title
        h1.title__head Генеральський будинок
        p.title__description В 1780 р. на розі сучасних вулиць Шкільної та Шолом-Алейхема було споруджено перший цегляний будинок - "генеральський дім"
        small.title__period 1774-1788
    section.slider
        .slider__block
            div your content
            div your content
            div your content
            div your content
include includes/_footer